.screen {
  width: 80vw;
  height: 100vh;
  background-color: #0c2461;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
}

.middle-card {
  /* border: dashed white 1px; */
  position: relative;
}

#title {
  font-size: 8rem;
}

#subtitle {
  position: absolute;
  font-size: 2rem;

  right: -2rem;
  bottom: 1rem;
}

.greendot {
  color: chartreuse;
}
